.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
}

.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.2em solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 2%;
  align-items: center;
  margin-bottom: 25%;
}

.double {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.outlined_button {
  background-color: transparent;
  padding: 1em 3em;
  border-radius: 5px;
  border: 0.2em solid hsl(217, 16%, 45%);
  color: #ffffff;
  margin-top: 30%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
