.item_container {
    border-radius: 100%;
    padding: 3%;
    background-color: #ffffff;
}

.rock {
    border: 1em solid hsl(349, 71%, 52%);
}

.paper {
    border: 1em solid hsl(230, 89%, 62%);
}

.scissors {
    border: 1em solid hsl(39, 89%, 49%);
}