.item_container {
    border-radius: 100%;
    padding: 2%;
}

.rock {
    border: 1.1em solid hsl(349, 71%, 52%);
}

.paper {
    border: 1.1em solid hsl(230, 89%, 62%);
}

.scissors {
    border: 1.1em solid hsl(39, 89%, 49%);
}